@import '../../../styles/variables';

.message-form {
  &__inner {
    background: $color-white;
    height: 80px;

    & .form-input {
      max-width: 100%;
      width: 100%;
      height: inherit;

      & label {
        display: none;
      }
    }
  }
}
