@import '../../../styles/variables';

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  max-height: 1080px;
  position: relative;
}

@media (max-width: $media-mobile-l) {
  .main-container {
    &-login {
      flex-direction: column;
    }
  }
}
