@import '../../../styles/variables';

.preview {
  height: auto;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.5s ease;
  opacity: 0;

  &_active {
    max-height: 500px;
    height: 100%;
    visibility: inherit;
    opacity: 1;

    // width: 100vw;
  }

  &__wrapper {
    max-width: 400px;
  }

  &__image,
  &__video {
    width: fit-content;
    height: auto;
  }

  &__image {
    width: fit-content;
    height: auto;
  }

  &__audio {
    margin: 0 10px 10px;
  }

  &__buttons {
    margin-left: 5px;
  }

  &__button {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: $media-mobile-l) {
  .preview {
    &_active {
      overflow: inherit;
      max-height: 300px;
    }

    &__wrapper {
      max-width: 100vw;
      max-height: 100%;
      flex-direction: column;
      position: relative;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 0;
      bottom: 100%;
      order: 1;
    }

    &__image {
      width: fit-content;
      height: auto;
      max-height: 270px;
    }

    &__button {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}
