@import '../../../styles/variables';

.file-block {
  height: fit-content;

  &__info {
    height: 30px;
  }

  &__size {
    margin-left: 10px;
  }

  &__filename {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }

  &__video {
    max-width: 100%;
    height: auto;
    width: fit-content;
    max-height: 400px;
  }
}

@media (max-width: $media-mobile-l) {
}
