@import '../../../styles/variables';

.form-input {
  max-width: 354px;

  &__label {
    margin-bottom: 4px;

    &.label_notification_error {
      margin: 4px 0px 0px 20px;
    }
  }

  &__inner {
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media (max-width: $media-mobile-l) {
  .form-input {
    max-width: 100%;
  }
}
