@import '../../../styles/variables';

.messages-area {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0 24px;

  & .message {
    margin: 12px 0;
    &_side_right {
      align-self: flex-end;
    }
  }
}
