@import '../../../styles/variables';

.file-input {
  &__label {
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      color: $color-easyGrey;
      transition: all 0.5s ease;
    }

    &:hover svg {
      color: $color-blue;
    }

    & input[type='file'] {
      display: none;
    }
  }
}
