@import '../../../styles/variables';

.file-input {
  &__label {
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover path {
      color: $color-blue;
    }
  }

  &__icon path {
    color: $color-easyGrey;
    transition: all 0.5s ease;
  }

  & input[type='file'] {
    display: none;
  }
}
