@import '../../../styles/variables';

.login-page {
  &__main-container {
    height: 1080px;
    display: flex;
  }

  &__aside-form {
    max-width: 716px;
    min-width: 500px;
    background-color: $color-white;
    z-index: 10;
  }

  &__aside-image {
    max-width: 724px;
    width: 100%;
    background: no-repeat url('../../../assets/images/loginPageFrame.svg') $color-aliceblue;
  }

  &__header {
    & .header {
      &__logo {
        margin-bottom: 16px;
      }

      &__text {
        margin-bottom: 24px;
      }
    }
  }
}

.aside-form__inner {
  padding-top: 256px;
}

@media (max-width: $media-mobile-l) {
  .login-page {
    &__main-container {
      height: fit-content;
      flex-direction: column;
    }

    &__aside-form {
      position: relative;
      order: 1;
      height: 400px;
      min-width: 100%;

      & .typography_variant_h2 {
        margin-bottom: 99px;
      }

      & button {
        max-width: 100%;
      }

      & input {
        height: 48px;
      }
    }

    &__aside-image {
      height: 316px;
      order: 0;
      background: no-repeat url('../../../assets/images/loginPageFrameMobile.svg'), $color-aliceblue;
      background-size: cover;
      border-radius: 0px 0px 16px 16px;
    }

    &__header {
      & .header {
        &__text {
          margin-bottom: 8px;
        }
      }
    }
  }

  .aside-form__inner {
    margin-top: -36%;
    padding: 0 14px 24px;
    width: 100%;
  }
}
