@import '../../../styles/variables';

.main-container-login {
  height: 1080px;
}

.login-page {
  &__aside-form {
    max-width: 716px;
    min-width: 500px;
    background-color: $color-white;
    z-index: 10;

    & .container {
      padding-top: 256px;
    }
  }

  &__aside-image {
    max-width: 724px;
    width: 100%;
    background: no-repeat url('../../../assets/images/loginPageFrame.svg') $color-aliceblue;
  }
}

.header-login-page {
  & .logo-wrapper {
    margin-bottom: 16px;
  }

  & .typography_variant_h1 {
    margin-bottom: 24px;
  }
}

@media (max-width: $media-mobile-l) {
  .main-container-login {
    height: fit-content;
  }

  .login-page {
    &__aside-form {
      position: relative;
      order: 1;
      height: 400px;
      min-width: 100%;

      & .typography_variant_h2 {
        margin-bottom: 99px;
      }

      & .container {
        margin-top: -35%;
        padding: 0 14px 24px;
        width: 100%;
      }

      & button {
        max-width: 100%;
      }

      & input {
        height: 48px;
      }
    }

    &__aside-image {
      height: 316px;
      order: 0;
      background: no-repeat url('../../../assets/images/loginPageFrameMobile.svg'), $color-aliceblue;
      background-size: cover;
      border-radius: 0px 0px 16px 16px;
    }
  }

  .header-login-page {
    & .typography_variant_h1 {
      margin-bottom: 8px;
    }
  }
}
